iframe {
    border: none;
    background: transparent;
    width: 100%;
    height: 380px;
    border: 0;
}

.btn {
    background-color: grey;
}

img {
    height: 300px;
    width: 300px;
}

.container {
    background: rgb(223, 219, 219);
}


/* .container {
    background: rgb(223, 219, 219);
    margin-top: 5%;
    margin-left: 10%;
} */

img {
    height: 300px;
    width: 300px !important;
    margin: 0 auto;
}


/* .container {
    background: rgb(243, 150, 207);
    margin-top: 5%;
    margin-left: 10%;
} */

.footer {}

.carousel-caption {
    position: relative !important;
}

.carousel-caption h3 {
    position: absolute;
    /* top: 20px; */
    /* left: -134px; */
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img {
    margin: 0 auto;
}

.carousel-control-next,
.carousel-control-prev {
    background-color: black;
}