        container {
            background: rgb(243, 150, 207);
            margin-top: 5%;
            margin-left: 10%;
        }
        
        .h1 {
            text-align: center;
            padding: 20px;
        }
        
        body {
            text-align: center;
            color: orangered;
            font-family: fantasy;
            font-size: 175%;
        }
        
       
        .carousel-inner>.item>a>img {
            width: 70%;
            margin: auto;
        }

    background: {
        rgb(243, 150, 207);
            
    }