img{
    height: 300px;
    width:300px;
}


.container {
            background: rgb(243, 150, 207);
            margin-top: 5%;
            margin-left: 10%;
        }

.footer {

}

.carousel-caption {
    position: relative !important;
}
.carousel-caption h3 {
    position: absolute;
    /* top: 20px; */
    /* left: -134px; */
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    margin: 0 auto;
}